 .body-content{
        max-height: 15rem;
        overflow-y: scroll;
        .cellName{
            color:#9ACD32;
            padding-left: 10px;
            font-size: 1.3em;
            font-family: Comfortaa !important;
        }   
}