@font-face {
    font-family: Comfortaa; 
    src: url(../../fonts/Comfortaa.ttf); 
   }

.body{
    width: 80vw;
    margin: 0 10rem;
    padding-top: 7rem;
    
    .hed{
        padding-top: 3rem;
    }
    
    .body-content{
        max-height: 30rem;
        overflow-y: scroll;


    .table_body{
        .cellName{
            color:#9ACD32;
            padding-left: 10px;
            font-size: 1.3em;
            font-family: Comfortaa !important;
        }
        .cellDate{
            font-size: 1em;
            font-family: Comfortaa !important;
            color:#696969;
        }
        
        .modal_info{
            border: 1px solid rgb(186, 248, 63);
            width: 38vw !important;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .rate{
                align-self: flex-end;
                margin: 10px;
            }
            .segment__style{
                
                overflow-y:scroll;
                height: 27vh;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset; 
                padding: 10px;
                }
            
        }
        
        .cell{
            word-wrap: break-word;  
        }
        .btn-edit{
            color: rgb(174, 177, 166);
            text-decoration: underline;
        }
        .btn-delete{
            color: rgb(255, 165, 104); 
            text-decoration: underline;
        }
        .unstyled-button{
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            text-align: left !important;
        }
        .unstyled-button:focus {
            border: none !important;
            outline : none; 
    
           
        }
    }
}
}


.ui.small.modal{
    width: 40vw !important;
    padding-bottom: 2vh !important;
}