@font-face {
    font-family: Comfortaa; 
    src: url(../../fonts/Comfortaa.ttf); 
   }

.homePageFragment{
    overflow-y: visible;
    .homePageLayout{
        background: url('./layout7.jpg') no-repeat;
        background-position: 0 -5rem;
        background-size: 100rem auto ;
        
        
        
        .homePageText{
            margin-left: 10rem!important; 
            width: 35%;
            padding-top: 13rem;
            padding-bottom: 20rem;
            font-family: Comfortaa !important; 

            .homePageText_main{
                font-size:  5em;
            }
            .homePageText_secondary{
                font-size:  1.4em;
                font-weight: normal;
                margin-top:  1.5em;
                font-family: Comfortaa !important; 
            }
            .homePageButton{
                margin-top:2rem;
                font-family: Comfortaa !important; 
                
            }
        }

    }
    .footer{
        background-color: rgb(34, 29, 29);
        height: 3rem;
        
        .footer-text{
            color:khaki;
            font-size:  0.8em;
            margin-top:  1.5em;
            font-family: Comfortaa !important; 
            text-align: center;
            padding-top: 1rem; 
            letter-spacing: 1.2px;

        }
    }

} 
 

