
.ui.search .results {
    display: none !important;
}


.top_pannel_admin{
    margin-top: 6.2rem !important;
    display:flex;
    .btn{
        margin-left: 2rem;
    }

    .Search{
        
        position: relative;
        padding-left: 46vw !important;   
        
        
    }
    
}

.top_pannel_user{
    margin-top: 6.2rem !important;
    display:flex;
    .Search{
        
        position: relative;
        padding-left: 58vw !important;   
        
        
    }
    
}

.cardGrid{
    overflow-y:scroll;
    height:75vh;
    padding-left: 1rem !important; 
    margin-top: 1rem !important;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset; 
    .unstyled-button{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        text-align: left !important;
    }
    .unstyled-button:focus {
        border: none !important;
        outline : none; 

       
    }
    .card:hover{
        box-shadow: 0 20px 28px rgba(0,0,0,0.25), 0 20px 10px rgba(0,0,0,0.22);
    }
    .card{
        max-width: 16vw; 
        padding: 10px;
        .content{
            max-width: 15vw; 
        }
    }

    .column{
        height: 13rem;
    }

   
    
}

.aside{
    box-shadow: 0 20px 28px rgba(0,0,0,0.25), 0 20px 10px rgba(0,0,0,0.22);
    margin-top: 5rem !important;
    padding: 1rem;
    height: calc(100vh - 6rem) !important;
    overflow-y:scroll;
    .aside_info{
        padding: 10px;
    }
    .aside_card{
        .content{
            width:14rem;
        }
    }
    .aside_img_container{
        padding: 10px;
        margin-bottom: 20px;
    }
    
}

